.team-info.ATL {
    background-color: rgb(199, 3, 3);
    color: white;
}
.team-info.BOS {
    background-color: green;
    color: white;
}
.team-info.NETS {
    background-color: rgb(48, 48, 48);
    color: white;
}
.team-info.HOR {
    background-color: rgb(0, 102, 128);
    color: white;
} 
.team-info.BULLS {
    background-color:#CE1141;
    color: white;
}
.team-info.CLE {
    background-color:#6F263D;
    color: white;
}
.team-info.MAV {
    background-color:#00538C;
    color: white;
}
.team-info.DEN {
    background-color:#0E2240;
    color: white;
}
.team-info.DET {
    background-color:#00519B;
    color: white;
}
.team-info.GSW {
    background-color:#e4a700;
    color: white;
}
.team-info.HOU {
    background-color:#e03a3e;
    color: white;
}
.team-info.IND {
    background-color:#002D62;
    color: white;
}
.team-info.LAC {
    background-color:#C8102E;
    color: white;
}
.team-info.LAL {
    background-color:#552583;
    color: white;
}
.team-info.MEM {
    background-color:#5D76A9;
    color: white;
}
.team-info.MIA {
    background-color:#98002E;
    color: white;
}
.team-info.BUCKS {
    background-color:#00471B;
    color: white;
}
.team-info.WOLVES {
    background-color:#0C2340;
    color: white;
}
.team-info.PELICANS {
    background-color:#85714D;
    color: white;
}
.team-info.NYK {
    background-color:#FF7518;
    color: white;
}
.team-info.THU {
    background-color:#007DC3;
    color: white;
}
.team-info.MAG {
    background-color:#0077C0;
    color: white;
}
.team-info.ERS {
    background-color:#006BB6;
    color: white;
}
.team-info.SUNS {
    background-color:#1D1160;
    color: white;
}
.team-info.BLA {
    background-color:#E03A3E;
    color: white;
}
.team-info.KINGS {
    background-color:#5A2D81;
    color: white;
}
.team-info.SPURS {
    background-color:#8C8B8C;
    color: white;
}
.team-info.RAP {
    background-color:#6F263D;
    color: white;
}
.team-info.JAZZ {
    background-color:#F9A01B;
    color: white;
}
.team-info.WIZ {
    background-color:#002B5C;
    color: white;
}
